# Python artifacts
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# MLflow artifacts
mlruns/

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Environment variables or configuration files
.env
